.top-coins-wrapper {
    padding: 16px 0 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coin-name {
    font-weight: 700;
}

.coin-name img {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.price-change {
    display: flex;
    align-items: center;
    gap: 16px;
}

.price-change-value {
    width: 64px;
    text-align: right;
}

.price-change-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

table {
    border-collapse: collapse;
    width: 1000px;
}

thead tr {
    border-bottom: 2px dotted #333;
}

th, td {
    border-right: 1px dotted #999;
    padding: 8px;
    text-align: left;
}

th:last-child, td:last-child {
    border-right: none;
}

td a {
    text-decoration: none;
    color: #f2f2f2;
    transition: all 0.4s ease-in-out;
}

td a:hover {
    color: #31B855;
    transition: all 0.4s ease-in-out;
}